snippet . "Class attribute" !w
class="$1"
endsnippet

snippet # "ID attribute" !w
id="$1"
endsnippet

snippet html "Basic HTML Page" !w
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>$1</title>$2
	</head>
	<body>$3</body>
</html>
endsnippet
