[submodule "vim-plugins/vim-fugitive"]
	path = vim-plugins/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim-plugins/molokai"]
	path = vim-plugins/molokai
	url = https://github.com/vim-scripts/molokai.git
[submodule "vim-plugins/vim-handlebars"]
	path = vim-plugins/vim-handlebars
	url = https://github.com/nono/vim-handlebars.git
[submodule "vim-plugins/coffee-script"]
	path = vim-plugins/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim-plugins/javascript"]
	path = vim-plugins/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim-plugins/cucumber"]
	path = vim-plugins/cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule "vim-plugins/markdown"]
	path = vim-plugins/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim-plugins/rails"]
	path = vim-plugins/rails
	url = https://github.com/tpope/vim-rails.git
[submodule "vim-plugins/rspec"]
	path = vim-plugins/rspec
	url = https://github.com/skwp/vim-rspec.git
[submodule "vim-plugins/scss"]
	path = vim-plugins/scss
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule "vim-plugins/ruby"]
	path = vim-plugins/ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim-plugins/css-color"]
	path = vim-plugins/css-color
	url = https://github.com/ap/vim-css-color
[submodule "vim-plugins/supertab"]
	path = vim-plugins/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim-plugins/surround"]
	path = vim-plugins/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim-plugins/syntastic"]
	path = vim-plugins/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim-plugins/tagbar"]
	path = vim-plugins/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim-plugins/nerdtree"]
	path = vim-plugins/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim-plugins/indent-object"]
	path = vim-plugins/indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule "vim-plugins/ctrlp"]
	path = vim-plugins/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim-plugins/ledger"]
	path = vim-plugins/ledger
	url = https://github.com/cypok/vim-ledger.git
[submodule "vim-plugins/endwise"]
	path = vim-plugins/endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "vim-plugins/nerdcommenter"]
	path = vim-plugins/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim-plugins/php-html"]
	path = vim-plugins/php-html
	url = https://github.com/vim-scripts/php.vim-html-enhanced.git
[submodule "vim-plugins/autoclose-tag"]
	path = vim-plugins/autoclose-tag
	url = https://github.com/karuna/HTML-AutoCloseTag.git
[submodule "vim-plugins/autoclose"]
	path = vim-plugins/autoclose
	url = https://github.com/Townk/vim-autoclose.git
[submodule "vim-plugins/less"]
	path = vim-plugins/less
	url = https://github.com/groenewege/vim-less
[submodule "vim-plugins/nerdtree-tabs"]
	path = vim-plugins/nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule "vim-plugins/scala"]
	path = vim-plugins/scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "vim-plugins/taglist-plus"]
	path = vim-plugins/taglist-plus
	url = https://github.com/int3/vim-taglist-plus.git
[submodule "vim-plugins/jellybeans"]
	path = vim-plugins/jellybeans
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "vim-plugins/solarized"]
	path = vim-plugins/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "oh-my-zsh-custom/plugins/zsh-syntax-highlighting"]
	path = oh-my-zsh-custom/plugins/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "vim-plugins/jade"]
	path = vim-plugins/jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "vim-plugins/gitgutter"]
	path = vim-plugins/gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "vim-plugins/mw-utils"]
	path = vim-plugins/mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim-plugins/tlib"]
	path = vim-plugins/tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim-plugins/ultisnip"]
	path = vim-plugins/ultisnip
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim-plugins/monokai"]
	path = vim-plugins/monokai
	url = https://github.com/sickill/vim-monokai.git
