[submodule "vim-plugins/vim-fugitive"]
	path = vim-plugins/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim-plugins/molokai"]
	path = vim-plugins/molokai
	url = https://github.com/vim-scripts/molokai.git
[submodule "vim-plugins/vim-handlebars"]
	path = vim-plugins/vim-handlebars
	url = https://github.com/nono/vim-handlebars.git
[submodule "vim-plugins/css-color"]
	path = vim-plugins/css-color
	url = https://github.com/ap/vim-css-color
[submodule "vim-plugins/supertab"]
	path = vim-plugins/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim-plugins/surround"]
	path = vim-plugins/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim-plugins/syntastic"]
	path = vim-plugins/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim-plugins/tagbar"]
	path = vim-plugins/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim-plugins/nerdtree"]
	path = vim-plugins/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim-plugins/indent-object"]
	path = vim-plugins/indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule "vim-plugins/ctrlp"]
	path = vim-plugins/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim-plugins/ledger"]
	path = vim-plugins/ledger
	url = https://github.com/cypok/vim-ledger.git
[submodule "vim-plugins/endwise"]
	path = vim-plugins/endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "vim-plugins/nerdcommenter"]
	path = vim-plugins/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim-plugins/autoclose-tag"]
	path = vim-plugins/autoclose-tag
	url = https://github.com/karuna/HTML-AutoCloseTag.git
[submodule "vim-plugins/nerdtree-tabs"]
	path = vim-plugins/nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule "vim-plugins/taglist-plus"]
	path = vim-plugins/taglist-plus
	url = https://github.com/int3/vim-taglist-plus.git
[submodule "vim-plugins/jellybeans"]
	path = vim-plugins/jellybeans
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "vim-plugins/solarized"]
	path = vim-plugins/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "oh-my-zsh-custom/plugins/zsh-syntax-highlighting"]
	path = oh-my-zsh-custom/plugins/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "vim-plugins/gitgutter"]
	path = vim-plugins/gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "vim-plugins/mw-utils"]
	path = vim-plugins/mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim-plugins/tlib"]
	path = vim-plugins/tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim-plugins/ultisnip"]
	path = vim-plugins/ultisnip
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim-plugins/monokai"]
	path = vim-plugins/monokai
	url = https://github.com/sickill/vim-monokai.git
[submodule "vim-plugins/hilinktrace"]
	path = vim-plugins/hilinktrace
	url = https://github.com/gerw/vim-HiLinkTrace.git
[submodule "vim-plugins/delimitmate"]
	path = vim-plugins/delimitmate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "vim-plugins/vim-expand-region"]
	path = vim-plugins/vim-expand-region
	url = https://github.com/terryma/vim-expand-region.git
[submodule "vim-plugins/lightline"]
	path = vim-plugins/lightline
	url = https://github.com/itchyny/lightline.vim
[submodule "vim-plugins/goyo"]
	path = vim-plugins/goyo
	url = https://github.com/junegunn/goyo.vim.git
[submodule "vim-plugins/limelight"]
	path = vim-plugins/limelight
	url = https://github.com/junegunn/limelight.vim.git
[submodule "vim-plugins/polyglot"]
	path = vim-plugins/polyglot
	url = https://github.com/sheerun/vim-polyglot.git
